<div id="banner">
    <div class="banner_content">
        <h1> Binder </h1>
        <p> A Place for Notes</p>
        <button> <%= link_to "Enter", new_user_registration_path %> </button>
    </div>
</div>

<div id="callouts">
    <div class="callout_inner">
        <div class="wrapper">
        </div>
    </div>
    <div class="callout">
        <h2> Get Organized </h2>
        <p> Easily create and access notes, lists, reminders, and more! </p>
    </div>
</div>

<div id="bottom_cta">
    <div class="wrapper">
        <h2> Ready to Simplify Your Life? </h2>
        <br>
        <button> <%= link_to "Join Now", new_user_registration_path %> </button>
    </div>
</div>