// Place all the styles related to the Docs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    .doc {
        border: 5.0px solid #78594B;
        // border-bottom-left-radius: 100px;
        // border-bottom-right-radius: 100px;
        margin-bottom: 1rem;

        .title{
            @include bold_font;
            color: $blue;
            font-size: 2.0rem;
            margin-bottom: 1.25rem;
            // padding-bottom: 1rem;
            text-align: center;
        }
        .date {
        color: rgb(0, 0, 0);
        font-size: 1.0rem;
        margin-bottom: 1.25rem;
        // padding-bottom: 1rem;
        text-align: left;

        }
        .content {
        color: rgb(0, 0, 0);
        font-size: 1.0rem;
        margin-bottom: 1.25rem;
        padding-bottom: 1rem;
        text-align: center;
        }
}

#doc_show {
    .title {
        @include bold_font;
        color: #78594B;
        font-size: 2.0rem;
        margin-bottom: 1.25rem;
        padding-bottom: 1rem;
        border-bottom: 1.0px solid rgba(82, 158, 204, 0.2);
        text-align: center;
    }
    p {
        font-size: 1.0rem;
        line-height: 1.75;
    }
    .buttons {
        margin-top: 3reml;
        text-align: center;
        a.button {
            padding: 0.2rem 1.5 rem;
            border-radius: 0.1rem;
            text-decoration: none;
            color: #529ECC;
            border: 5px solid #529ECC;
            @include bold_font;
            background: transparent;
        }
    }
}